<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{{page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}resources/js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}resources/less/style.less" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <script src="{{ STATIC_URL }}resources/js/less-1.3.3.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}resources/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}resources/js/applepie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}resources/js/d3.v3.min.js"></script>

    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class='container'>
            <div class='row-fluid'>
                <div class='span2 text-center sitename'>
                    <a href='/'><img src='{{ STATIC_URL }}images/logo.png'></a>
                </div>
            </div>
        </div>
        <hr/>
    </header>
    <section>
        {% block content %} {% endblock %}
    </section>
    <footer>
        <div class='container'>
            <div class='row-fluid'>
                <div class='span12'>
                    <p>&copy; YasikStudio 2013</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
