<!DOCTYPE html>
<html lang="ko">
<head>
    <title>{{page_title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}resources/js/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet/less" type="text/css" media="all" href="{{ STATIC_URL }}resources/less/style.less" />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

    <script src="{{ STATIC_URL }}resources/js/less-1.3.3.min.js"></script>
    <script src="{{ STATIC_URL }}resources/js/social.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}resources/js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}resources/js/applepie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}resources/js/d3.v3.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function (){
            $('#option').hide()
            $('#btn_option').on('click', function(e){
                    if ($('#option').css("display") == "none"){
                        $('#option').fadeIn()
                    }else{
                        $('#option').fadeOut()
                    }
                });
        });
    </script>

    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <div class='container'>
            <div class='row-fluid'>
                <div class='span2 text-center sitename'>
                    <a href='/'><img src='{{ STATIC_URL }}images/logo.png'></a>
                </div>
            </div>
        </div>
        <hr/>
    </header>


    <div class='container' style="padding-top: 20px">
        <form method="post" align="center">
            {% csrf_token %}
            <div class="input-append">
                <input  name='query' style="width:240px;" type="text" id="search_query" class="search" autocomplete="off"> </input>
                <button type="submit" class="search btn" id="btn_search">Search</button>
                <!--
                <button type="button" class="search btn" id="btn_option">Option</button>
            -->
            </div>
        </form>

        <div id="option" class="option">
            <input type="radio">option1..</input>
            <input type="radio">option2..</input>
            <!-- blabla..-->
        </div>
    </div>

    <section>
        {% block content %} {% endblock %}
    </section>

    <script>
        $('.github_id_form').submit(function() {
            var id = $(this).attr('id');
            var login = id.split('-')[0];
            var my_login = $(this).find('input#login_id').val();
            $('#' + id).html('');
            var width = $('#' + id).parent().width();
            var height = $('#' + id).parent().height();
            social_rel(my_login + '|' + login, '#' + id, width, height);
            return false;
        });
    </script>

    <footer>
        <div class='container'>
            <div class='row-fluid'>
                <div class='span12'>
                    <p>&copy; YasikStudio 2013</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
