{% block head %}
<script type="text/javascript">
    var id = 'social-content';
    var width = $("#"+id).width();
    var height = 500;
    $("#"+id).width(height);
    var query = "{{me}}|{{who.login}}";

    //test query.
    query = "jongyeol|jweb";

    $.ajax({
        type: "GET",
        url: "/social.json?users=" + query,
        success: function(result, status, xhr) {
            $("#loader").fadeOut();
            $("#"+id).empty();
            social_rel(result, '#' + id, width, height);
        },
        error: function(xhr,status,error) {
        }
     });
</script>
{% endblock %}

<div class="row-fluid">
    <div class="span12">
        <div class="row detail-header">
            <div class="info">
                <img class="avatar" src="http://www.gravatar.com/avatar/{{ who.gravatar_id }}?s=200"/>
                <div id="title"> <h1><a href="http://github.com/{{who.login}}" target="_blank">{{ who.login }}</a></h1> </div>
                <div id="rank"> <h2>{{ who.devrank_score }}</h2> </div>
            </div>
        </div>

        <div class="row detail">
            <div class="span6">
                <div class="label">NAME</div>
                <div id="name">{{ who.name }}</div>

                <div class="label">HIREABLE</div>
                <div id="hireable">{{ who.hireable }}</div>

                <div class="label">EMAIL</div>
                <div id="email">{{ who.email|urlize }}</div>

                <div class="label">COMPANY</div>
                <div id="company">{{ who.company }}</div>
            </div>
            <div class="span6">
                <div class="label">BLOG</div>
                <div id="blog">
                {% if who.blog == "None" %}
                    {{ who.blog }}
                {% else %}
                    <a href="{{ who.blog }}" target="_blank">{{ who.blog }}</a>
                {% endif %}
                </div>

                <div class="label">LOCATION</div>
                <div id="location">{{ who.location }}</div>

                <div class="label">BIO</div>
                <div id="bio">{{ who.bio }}</div>

                <div class="label">LAST UPDATE</div>
                <div id="crawled_at">{{ who.crawled_at }}</div>
            </div>
        </div>

        <div class="row social">
            <div class="span12">
                <div id="social-content">
                </div>
                <div id="loader" class="progress progress-striped active">
                  <div class="span12 bar"></div>
                </div>
            </div>
        </div>
    </div>
</div>
