{% extends "base.html" %}

{% block body %}

<div class='container'>
    <div class='row-fluid'>
        <div class="row">
            <div id="search_head" class="span12">
                <a href='/'><img id="logo_pic" src='{{ STATIC_URL }}images/logo.png'></a>
                <div>Developer Rank analysis system is based of <a href="http://github.com">Github.</a> </div>
            </div>

            <form class="span12" action="/search" id="search_form" >
                <div class="span12 input-append">
                    <div class="control-group success">
                        <input type="hidden" name='m' value="{{ me }}"></input>
                        <input  placeholder="Enter Keyword" name='q' type="text" id="query" class="search" autocomplete="off"> </input>
                        <button type="submit" class="search btn" id="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

