{% extends "base.html" %}

{% block head %}
{% endblock %}

{% block body %}

<div id="head">
	<div class="container">
		<a href='/'><img id="logo_pic" src='{{ STATIC_URL }}images/logo.png'></a>
	</div>
</div>

<div id="index">
	<div id="splash">
		<div id="value-prop">
			<div class="container">
				<div class="hidden-phone" id="laptop"> </div>
				<div id="copy">
					<i class="icon-github icon-4x"></i>
					<i class="icon-bitbucket icon-4x"></i>
					<i class="icon-linkedin-sign icon-4x"></i>
					<h1> Build startup <br /> better, together.</h1>
					<blockquote>
						<p class="lead">
						Do you want to team members of powerful collaboration <br/>
						for open source and private projects?  <br/>
						The Devrank is solution of that problem. <br/>
						<br/>
						Looking for best team members for you.
						</p>
					</blockquote>

					<div class="btn btn-large btn-info">
						<i class="icon-chevron-sign-right icon-1x"> Login with Github! </i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}
