@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Rock+Salt);
@import "/static/resources/less/elements.less";

@fontBase:13px  Helvetica,  arial, freesans, clean, sans-serif;
@fontHead1:50px 'Poiret One';
@fontHead2:13px 'Rock Salt';
@padding:20px;

@line: #E5E5E5;
@lineLight: @line + #111111;
@lineDark: @line - #111111;
@fontBaseColor: #555555;

@gray:#999999;
@blue:#4082BC;
@black:#333333;
@brown:#776B5F;
@orange:#E55C38;
@red:#CF4E4E;
@light:#FAFAFA;
@green:#4DAF7C;
@blue:#5F90B0;
@blueLight:@blue + #222222;
@text:#333333;
@textLight:#AAAAAA;


.fade {
    .transition-duration(0.15s);
}

.border(@color:@line) {
    border:1px solid @color;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wordwrap {
    white-space: pre-wrap;      /* CSS3 */
    white-space: -moz-pre-wrap; /* Firefox */
    white-space: -pre-wrap;     /* Opera <7 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    word-wrap: break-word;      /* IE */
}

textarea, input, button {
    font: 13px Helvetica, arial, freesans, clean, sans-serif;
}

body {
    color:@fontBaseColor;
    font:@fontBase;
}

.container {
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    position:relative;
}

#head {
    margin-bottom:50px;
    margin-top:50px;
    img {
        width:200px;
    }
}

#search_head {
    text-align:center;
    margin-left:auto;
    margin-right:auto;

    margin-bottom:50px;
    margin-top:100px;
}

#search_form{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#result_head > .container{
    padding-top:10px;
    padding-bottom:10px;
    > .nav {
        margin-top:6px;
    }
    > a > img {
        width:150px;
    }
    >ul{
        > li{ font-size:20px; }
    }

}

#result_list{
    padding-top:20px;
}



#index {
    overflow:hidden;
    padding-bottom: 50px;

    #splash {
        background:url(/static/images/background.png);
        //background:url(/static/images/background2.png);
        margin-top: 30px;
        margin-bottom:40px;

        #value-prop {
            position:relative;
            padding-top:40px;

            #copy {
                > h1 { font:@fontHead1 }
                padding:@padding;
                letter-spacing:-1px;
                word-spacing:5px;
                > a { letter-spacing:1px;}
            }

            #laptop {
                top:-70px;
                left:600px;
                width:863px;
                height:525px;
                position:absolute;
                background:url(/static/images/laptop.png) 50% 0px no-repeat;
            }
        }
    }
}


#social {
    margin-top:100px;
    margin-bottom:100px;
    padding-bottom:100px;
    background:url(/static/images/background2.png);
    border-bottom:10px solid @line;

    #head {
        font:@fontHead2;
        text-align:center;
        line-height:250%;
        > p {
            letter-spacing:8px;
            word-spacing:10px;
            }
    }

    .content {
        .socialtext {
            font-size:15px;
            padding-left:50px;
            margin-top:140px;
            text-align:left;
            line-height:250%;
            letter-spacing:1px;
            word-spacing:2px;
            padding-bottom:50px;
            }
    }
}

#formula {
    border-bottom:1px solid @blue;
    text-align:center;
    margin-bottom:100px;
    padding-bottom:100px;

    .hero {
        margin-top:30px;
        padding-bottom:30px;
        .subline { margin-top:20px; font-size:15px; }
    }

    .hero-tail {
        background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 65, color-stop(0%, rgba(0,0,0,0.08)), color-stop(65%, transparent));
        background-image: -webkit-radial-gradient(top, rgba(0,0,0,0.08) 0%, transparent 65%);
        background-image: -moz-radial-gradient(top, rgba(0,0,0,0.08) 0%, transparent 65%);
        background-image: -o-radial-gradient(top, rgba(0,0,0,0.08) 0%, transparent 65%);
        background-image: radial-gradient(top, rgba(0,0,0,0.08) 0%,transparent 65%);
        width:100%;
        height:10px;
        bottom:-10px;
        left:0px;
        margin-bottom:50px;
    }


    .feature { margin-top:50px; text-align:center; }

    @radius-img:380px;
    img {
        display: block;
        margin: 0px auto;
        width: 150px;
        height: 150px;
        overflow: hidden;
        -webkit-border-radius: @radius-img;
        -moz-border-radius: @radius-img;
        -ms-border-radius: @radius-img;
        -o-border-radius: @radius-img;
        border-radius: @radius-img;
        margin-bottom: 10px;
        border: 10px solid white;
        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
    }


    blockquote {
        border:none;
        padding-top:20px;
        p { padding:0px; margin:0px; font-size:13px; }
    }
}


#preview {
    margin-top:100px;
    border-bottom:1px solid @blue;
    text-align:center;
}


hr {
    margin:0px;
    background-color:@line;
    border-bottom:3px solid #FAFAFA;
    border-top:none;
    height:.1px;
    width:700px;
    display: none;
}

a { .fade; }
button > a:link { color:white; text-decoration:none; }

.detail_link{
    a:link { text-decoration:none; color:white; }
    a:visited {text-decoration: none; color: white;}
    a:active {text-decoration: none; color: #333333;}
    a:hover {text-decoration: none; color: #333333;}
}
.task_link{
    a:link {text-decoration: none; color:@fontBaseColor;}
    a:visited {text-decoration: none; color:@fontBaseColor;}
    a:active {text-decoration: none; color: #333333;}
    a:hover {text-decoration: none; color: gray;}
}

.avatar {
    float:left;
    margin-right:@padding / 1;
    margin-bottom:@padding / 1;
    .rounded(50px);
    border:5px solid @lineLight;
}

footer .container {
    padding-top: 20px;
    color:@gray;
    text-align:center;
}

.task:hover {
    background-color:#ecf0f1;
    //#95a5a6;
}

.task{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding-top:@padding;
    padding-bottom:@padding;
    margin:0px;
    //background-color: #16a085;
    background-color:white;
    border-bottom:5px dotted @lineDark;
    .task-rank{
        font-size:20px;
    }
    .avatar{
        margin-bottom:@padding / 1;
        .rounded(120px);
        border:10px solid @lineLight;
        float:none;
    }
    .info {
        word-break:break-all;
        .task_link;
    }

    .labels {
        margin-top:20px;
        .label {
            font-size:15px;
            font-weight:normal;
            color:white;
        }
        .public_repo {
            background:#efb8ed;
        }
        .followers {
            background:#f4c413;
        }
        .following {
            background:#6dcfd6;
        }
    }

}

.task-detail{
    display:none;
}

.detail{
    word-break:break-all;
    padding:@padding;
    margin:0px;
    background-color:  #7f8c8d;//#ecf0f1;
    font-size:18px;
    color:white;
    .detail_link;
}

.social{
    margin:0px;
}


.alert{
    background-color: #f1c40f;
    padding:@padding;
    color: white;
    font-size:15px;
    word-break:break-all;
}

.exception{
    text-align:center;
    margin-top:50px;
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;

    font-size:15px;
    >.icon-code { color:red; }
    >.icon-bug { color:blue; }
    >.icon-exclamation { color:green; }
}



// d3
path.link {
    fill: none;
    stroke: white;
    stroke-width: 0.1px;
}

marker#type1 {
    fill: green;
}

path.link.type1 {
    stroke: green;
}

path.link.type3 {
    stroke: white;
    stroke-dasharray: 0,10 1;
}
