@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import "/static/resources/less/elements.less";

@fontBase:13px 'Nanum Gothic', Helvetica, arial, freesans, clean, sans-serif;
@padding:20px;

@line: #E5E5E5;
@lineLight: @line + #111111;
@lineDark: @line - #111111;
@fontBaseColor: #555555;

@gray:#999999;
@blue:#4082BC;
@black:#333333;
@brown:#776B5F;
@orange:#E55C38;
@red:#CF4E4E;
@light:#FAFAFA;
@green:#4DAF7C;
@blue:#5F90B0;
@blueLight:@blue + #222222;
@text:#333333;
@textLight:#AAAAAA;


.fade {
    .transition-duration(0.15s);
}
.brush {
    font-family: 'Nanum Brush Script', cursive;
}
.border(@color:@line) {
    border:1px solid @color;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

textarea, input, button {
    font: 13px 'Nanum Gothic', Helvetica, arial, freesans, clean, sans-serif;
}

body{
    color:@fontBaseColor;
    font:@fontBase;
}

.container{
	max-width:1200px;
	margin-left:auto;
	margin-right:auto;
	position:relative;
}

#head{
	margin-bottom:50px;
	margin-top:50px;
	img{
		width:200px;
	}
}

#index{
    overflow:hidden;
	padding-bottom: 50px;

    #splash{
		background:url(/static/images/background.png);
		//background:url(/static/images/background2.png);
        margin-top: 30px;
        margin-bottom:40px;

        #value-prop{
            position:relative;
            padding-top:40px;

            #copy{
				padding:@padding;
            }

            #laptop{
                top:-70px;
                left:600px;
                width:863px;
                height:525px;
                position:absolute;
                background:url(/static/images/laptop.png) 50% 0px no-repeat;
            }
        }

    }
}


#info{
    margin-top:100px;
    text-align:center;
    margin-bottom:100px;

    .hero{
        margin-top:30px;
        padding-bottom:30px;
    }
	.subline{
		margin-top:20px;
		font-size:15px;
	}
    .hero-tail{
        background-image: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 65, color-stop(0%, rgba(0,0,0,0.08)), color-stop(65%, transparent));
        background-image: -webkit-radial-gradient(top, rgba(0,0,0,0.08) 0%, transparent 65%);
        background-image: -moz-radial-gradient(top, rgba(0,0,0,0.08) 0%, transparent 65%);
        background-image: -o-radial-gradient(top, rgba(0,0,0,0.08) 0%, transparent 65%);
        background-image: radial-gradient(top, rgba(0,0,0,0.08) 0%,transparent 65%);
        width:100%;
        height:10px;
        bottom:-10px;
        left:0px;
        margin-bottom:50px;
    }


    .feature{
        text-align:center;
    }

	@radius-img:80px;
    img{
        display: block;
        margin: 0px auto;
        width: 100px;
        height: 100px;
        overflow: hidden;
        -webkit-border-radius: @radius-img;
        -moz-border-radius: @radius-img;
        -ms-border-radius: @radius-img;
        -o-border-radius: @radius-img;
        border-radius: @radius-img;
        margin-bottom: 10px;
        border: 10px solid white;
        -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
        box-shadow: 0px 1px 2px rgba(0,0,0,0.3),inset 0px 3px 8px rgba(0,0,0,0.3);
    }


    blockquote{
        border:none;
		padding-top:20px;
		p{
			padding:0px;
			margin:0px;
			font-size:13px;
		}
    }
}



hr {
    margin:0px;
    background-color:@line;
    border-bottom:3px solid #FAFAFA;
    border-top:none;
    height:.1px;
    width:700px;
    display: none;
}

footer .container {
    color:@gray;
    text-align:center;
}

a {
    .fade;
}
#search_panel{

    #search_query{
        height:30px;
        width:350px;
        min-width: 150px;
    }

    #btn_search{
       height:40px;
    }
}


.task:hover {
    border:1px solid @blue;
}
.task {
    .fade;
    .drop-shadow(0px, 0px, 4px, 0.1);
    background:white;
    margin-top:10px;
    margin-bottom:20px;
    border:1px solid @lineDark;

    header {
        padding:@padding;
    }

    .icon {
        .fade;
       .opacity(0.3);
    }
    .icon:hover {
        .opacity(1);
    }

    .info {
        float:left;
        min-height:40px;
    }
    .subject {
        font-size:30px;
        font-weight:bold;
    }
    .subject:hover {
        background-color:yellow;
    }
    a:link{
        text-decoration:none;
    }

    .social{
        font-size:13px;
        font-weight:normal;
        color:@textLight;
    }

    .social:hover{
        background-color:yellow;
    }

    .devrank{
        font-size:20px;
        font-weight:normal;
    }

    .labels{
        margin-top:20px;
        .label{
            font-size:15px;
            font-weight:normal;
            background:white;
            color:black;
        }
        .public_repo{
            background:#efb8ed;
        }
        .followers{
            background:#f4c413;
        }
        .following{
            background:#6dcfd6;
        }
    }

    footer {
        border-top:1px solid @line;
        background:@light;
        clear:both;
        .inner-shadow(0px, 0px, 5px, 0.05);
    }

    footer:after {
        clear:both;
    }
}





// Avatar

.avatar {
    float:left;
    margin-right:@padding / 1;
    margin-bottom:@padding / 1;
}


// d3
path.link {
    fill: none;
    stroke: white;
    stroke-width: 0.1px;
}

marker#type1 {
    fill: green;
}

path.link.type1 {
    stroke: green;
}

path.link.type3 {
    stroke: gray;
    stroke-dasharray: 0,10 1;
}
