@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@import "/static/resources/less/elements.less";
// LESS

@line: #E5E5E5;
@lineLight: @line + #111111;
@lineDark: @line - #111111;
@background: #FAFAFA;
@fontBase: #555555;

@headerHeight: 70px;

@gray:#999999;
// @blue:#4082BC;
@black:#333333;

@brown:#776B5F;
@orange:#E55C38;
@red:#CF4E4E;
@light:#FAFAFA;
@green:#4DAF7C;
@blue:#5F90B0;
@blueLight:@blue + #222222;


@text:#333333;
@textLight:#AAAAAA;

@padding:20px;

.fade {
    .transition-duration(0.15s);
}
.brush {
    font-family: 'Nanum Brush Script', cursive;
}
.border(@color:@line) {
    border:1px solid @color;
}
.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.wordwrap {
   white-space: pre-wrap;      /* CSS3 */
   white-space: -moz-pre-wrap; /* Firefox */
   white-space: -pre-wrap;     /* Opera <7 */
   white-space: -o-pre-wrap;   /* Opera 7 */
   word-wrap: break-word;      /* IE */
}

textarea, input, button {
    font: 13px 'Nanum Gothic', Helvetica, arial, freesans, clean, sans-serif;
}
body {
color:@fontBase;
font: 13px 'Nanum Gothic', Helvetica, arial, freesans, clean, sans-serif;
border-top:5px solid @blue;
background:url(/static/images/background.png);

    > header {
        // background:rgba(255, 255, 255, 0.7);
        background:white;
        min-height:@headerHeight;
        line-height:@headerHeight;
        border-bottom:1px solid @lineDark;
        .box-shadow(0px 0px 4px rgba(0, 0, 0, 0.1));
        margin:0px -20px;
        padding:0 20px;
    }

    > section {
        padding-top:10px;
        padding-bottom:10px;
    }

    hr {
        margin:0px;
        background-color:@line;
        border-bottom:3px solid #FAFAFA;
        border-top:none;
        height:1px;
        display: none;
    }

    > footer .container {
        color:@gray;
        text-align:center;
    }
}

a {
    .fade;
}

// button, a.button {
//     font-size:13px;
//     background:@blue;
//     padding:8px 15px;
//     font-weight:bold;
//     color:white;
//     .rounded(3px);
//     text-decoration:none;
// }

// button, a.button:hover {
//     background:@black;
// }


.task:hover {
    border:1px solid @blue;
}
.task {
    .fade;
    .drop-shadow(0px, 0px, 4px, 0.1);
    background:white;
    margin-top:10px;
    margin-bottom:10px;
    border:1px solid @lineDark;
    header {
        padding:@padding;
    }

    .icon {
        .fade;
       .opacity(0.3);
    }
    .icon:hover {
        .opacity(1);
    }

    .info {
        float:left;
        min-height:40px;
    }
    .subject {
        margin-top:5px;
        font-size:15px;
        font-weight:bold;
        line-height:30px;
    }
    .owner {
        font-size:11px;
        color:@textLight;
    }
    .attendance {
        float:right;
    }

    section {
        clear:both;
        padding:@padding;
        line-height:140%;
    }

    footer {
        border-top:1px solid @line;
        background:@light;
        clear:both;
        .inner-shadow(0px, 0px, 5px, 0.05);
    }

    footer:after {
        clear:both;
    }
}

// Avatar
.avatar {
    float:left;
    margin-right:@padding / 1;
    margin-bottom:@padding / 1;
}



// d3
.node circle {
  stroke: #000;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
  pointer-events: none;
}

path.link {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

marker#type1 {
  fill: green;
}

path.link.type1 {
  stroke: green;
}

path.link.type3 {
  stroke-dasharray: 0,2 1;
}